---
import ButtonAction from '../global/ButtonAction.astro'
---

<header
  class="bg-zinc-900 flex p-20 gap-3 flex-col lg:flex-row rounded-lg mb-5"
>
  <div>
    <h1 class="text-5xl font-bold text-center">Protect Password</h1>
    <p class="my-5">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat maiores
      quaerat exercitationem nesciunt cupiditate quam tempore quasi hic nam,
      ipsa voluptatum. Libero necessitatibus, alias quam nemo porro possimus.
      Ducimus, similique.
    </p>
    <div class="mx-auto w-full content-center text-center mb-5">
      <ButtonAction text="Get Started" />
    </div>
  </div>
  <img src="images/FingerPrint.svg" alt="" class="w-80 mx-auto" />
</header>
