<section class="flex flex-col py-10 lg:flex-row lg:p-20 gap-y-10">
  <div class="flex-1 grid grid-cols-2">
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" alt="" />
      <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" alt="" />
      <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" alt="" />
      <p class="mt-4">Dev Managment</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" class="w-20 m-auto" alt="" />
      <p class="mt-4">Dev Managment</p>
    </div>
  </div>
  <div class="flex flex-col flex-1 text-center justify-center">
    <h2 class="text-5xl font-bold text-zinc-300 gap-y-10">More</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem facilis
      eius eligendi?
    </p>
  </div>
</section>
