---
console.log('Hola Server')
const title = 'Mi proyecto de Astro'
const color = 'danger'
const hobbies = ['Programar', 'Jugar', 'Dormir']
const isActive = false
import Layout from '../components/Layout.astro'
---

<Layout
  pageTitle="Home"
  metaDescription="Pagina que ofrece servicios de desarrollo"
>
  <script>
    console.log('Hola Client')
  </script>
  {
    hobbies.map((hobbie) => {
      return <h3 class="warning">{hobbie}</h3>
    })
  }
  <h1 class="title">{title}</h1>
  <h3 class={color}>{isActive ? 'User On' : 'User Off'}</h3>
</Layout>

<style>
  .title {
    color: #1ab4fe;
  }
  .danger {
    color: red;
  }
  .warning {
    color: yellow;
  }
</style>
