---
console.log('Hola Server')
const title = 'Mi proyecto de Astro'
const color = 'danger'
const hobbies = ['Programar', 'Jugar', 'Dormir']
const isActive = false
---

<script>
  console.log('Hola Client')
</script>

<body>
  {
    hobbies.map((hobbie) => {
      return <h3 class="warning">{hobbie}</h3>
    })
  }
  <h1 class="title">{title}</h1>
  <h3 class={color}>{isActive ? 'User On' : 'User Off'}</h3>
</body>

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* standar style */
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    /* custom style */
  }
  .title {
    color: #1ab4fe;
  }
  .danger {
    color: red;
  }
  .warning {
    color: yellow;
  }
</style>
