---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="gap-y-5">
    <Card h1="Programacion" />

    <Card
      h1="Tecnologia"
      p="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, impedit?"
    />
  </div>
</Layout>
