---
import Card from '../components/Card.astro'
---

<h1>Services</h1>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi obcaecati
  nesciunt, eaque ducimus libero enim repellendus temporibus aliquid cupiditate
  velit maiores placeat molestiae reprehenderit consequatur vel quia voluptates.
  Corrupti, labore facere consequuntur exercitationem, recusandae deleniti
  maxime atque quos eligendi unde laudantium. Hic minima iure rem deleniti
  doloremque voluptatem odio enim.
</p>
<Card />
