<div class="card w-full h-full flex items-center justify-center">
  <img src="/images/Logo_Hermes.webp" alt="absolute" class="mx-auto w-40" />
</div>
<style>
  .card {
    width: 190px;
    height: 254px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #b3b3b3;
  }
</style>
