<footer class="bg-zinc-900 py-10 gap-4 mt-4">
  <div
    class="mx-auto container flex flex-col lg:flex-row justify-evenly text-center md:text-left"
  >
    <div>
      <h4 class="font-bold text-xl">Site Map</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/pricing">Pricing</a>
      <a href="mailto:">E-mail</a>
    </div>
    <div>
      <h4 class="font-bold text-xl">Legal</h4>
      <a href="/terms">Terms of Service</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
    <div>
      <h4 class="font-bold text-xl">Follow Us</h4>
      <a href="https://twitter.com/">Twitter</a>
      <a href="https://www.facebook.com/">Facebook</a>
      <a href="https://www.instagram.com/">Instagram</a>
    </div>
  </div>
</footer>
