<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Curso</title>
  </head>
  <body> <slot /></body>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      /* standar style */
      font-family: sans-serif;
      font-size: 1.2em;
      margin: 0;
      padding: 0;
      background-color: #000;
      color: white;
      /* custom style */
    }
  </style>
</html>
