---
import Footer from '../components/Footer.astro'
import '../styles/Layout.css'

interface Props {
  title: string
  metaTitle: string
  metaDescription: string
}
const { title, metaDescription, metaTitle } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content={metaTitle} />
    <meta name="description" content={metaDescription} />
    <title>Astro Landing - {title}</title>
  </head>
  <body>
    <main class="container mx-auto md:mt-10">
      <slot />
    </main>
  </body>
  <Footer />
</html>
